$color-ink: #1d1e22;
$color-grey: hsl(0, 0%, 50%);
$color-grey-dark: hsl(0, 0%, 25%);
$color-grey-darker: hsl(0, 0%, 12%);

$color-blue-light: rgb(1, 134, 218);
$color-purple: rgb(111, 76, 255);
$color-pink: rgb(182, 49, 167);
