$size-small: 480px;
$size-medium: 768px;
$size-large: 1024px;
$size-xlarge: 1280px;
$spacing: 8px;

@mixin media-zs {
  @media (max-width: #{$size-small - 1px}) {
    @content;
  }
}

@mixin media-zm {
  @media (max-width: #{$size-medium - 1px}) {
    @content;
  }
}

@mixin media-zl {
  @media (max-width: #{$size-large - 1px}) {
    @content;
  }
}

@mixin media-zx {
  @media (max-width: #{$size-xlarge - 1px}) {
    @content;
  }
}

/** smaller than medium */
@mixin media-zs {
  @media (max-width: #{$size-medium - 1px}) {
    @content;
  }
}

/** medium to large */
@mixin media-ml {
  @media (min-width: #{$size-medium}) and (max-width: #{$size-large - 1px}) {
    @content;
  }
}

/** bigger than medium */
@mixin media-mz {
  @media (min-width: #{$size-medium}) {
    @content;
  }
}

/** large to xlarge */
@mixin media-large {
  @media (min-width: #{$size-large}) and (max-width: #{$size-xlarge - 1px}) {
    @content;
  }
}

/** bigger than large */
@mixin media-large-plus {
  @media (min-width: #{$size-large}) {
    @content;
  }
}

/** bigger than xlarge */
@mixin media-xlarge-plus {
  @media (min-width: #{$size-xlarge}) {
    @content;
  }
}
