@import "colors";
$min-contrast-ratio: 3;
$btn-border-width: 0;
$btn-border-radius: 50rem;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

.font-heading,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", $font-family-sans-serif;
  font-weight: 300;
}

.btn-blue-to-pink {
  background-image: linear-gradient(to right, $blue, $pink);
  color: $white;
  &:hover {
    color: $white;
  }
}

.btn-purple-to-red {
  background-image: linear-gradient(to right, $purple, $red);
  color: $white;
  &:hover {
    color: $white;
  }
}

@each $breakpoint, $container-max-width in $container-max-widths {
  .mw-#{$breakpoint} {
    max-width: $container-max-width;
  }
}
